* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(244, 243, 243);
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px 30px;
    
}

#nav, h4{
    font-size: 20px;
    font-weight: 600;
}

#nav i{
    background-color: black;
    size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    
}

#center{
    width: 100%;
    padding: 10px 80px;
}

#center h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 55px;
}

#center-in {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    

}

#center-in p{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

#right{
    width: 20%;
}

.elem{
    
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    background-color: rgba(213, 216, 219, 0.917);
    
}

.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#bottom{
    height: 70%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 0 50%;
}